:root {
    --perm-dark: #2D2B2A;
    --perm-light: #c6c3bb;
    --dark: #2D2B2A;
    --light: #c6c3bb;
    --accent: #1c74c1;

    --card-dark: #202020;
    --card-light: #efefef;
    --card-background: var(--card-light);
    
    --transition-duration: 0.3s;
}

@font-face {
    font-family: Space Grotesk;
    src: url('/assets/SpaceGrotesk[wght].ttf');
    font-weight: 400;
}

@font-face {
    font-family: Envy Code R;
    src: url('/assets/Envy\ Code\ R.ttf');
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--light);
    font-family: Space Grotesk, sans-serif;
    transition-duration: var(--transition-duration);
    transition-property: background-color, color;
}

.button {
    background-color: var(--dark);
    color: var(--card-background);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 0.25rem;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
    user-select: none;
    margin-top: 1rem;
    line-height: 0px;
    transition-duration: var(--transition-duration);
    transition-property: background-color, color;
}

.button:hover {
    transition-duration: var(--transition-duration);
    filter: brightness(85%);
}

::selection {
    background-color: var(--dark);
    color: var(--light);
}

.pattern {
    position: fixed;
    bottom: 0px;
    width: 100vw;
    height: 100vh;
    background-image: url(/assets/pattern.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.content {
    color: var(--dark);
    padding-bottom: 50px;
    max-width: 564px;
    width: 80vw;
    margin: auto;
}

a {
    color: var(--accent)
}

#search-input {
    background: transparent;
    border: none;
    border-bottom: 3px solid var(--dark);
    color: var(--dark);
    font-family: Space Grotesk, sans-serif;
    width: 100%;
    height: 30px;
    font-size: 17px;
    padding-top: 30px;
}

#search-input:focus {
    outline: none;
}

.body {
    /* padding-top: 50px; */
    display: grid;
    grid-template-columns: 230px 1fr;
    grid-template-areas: "l r" "t t" "a a";
    grid-gap: 10px;
}

.banner {
    width: 100%;
    height: 7rem;
    background-size: cover;
    background-position: center;
    border-radius: 0.5rem 0.5rem 0 0;
    background-color: var(--dark);
}

.left {
    grid-area: l;
}

.right {
    grid-area: r;
    text-align: right;
}

.about {
    grid-area: a;
    padding: 10px;
    border: 2px solid #000;
    border-radius: 0.5rem;
    font-family: Envy Code R;
    font-size: 15px;
    background-color: var(--perm-dark);
    color: var(--perm-light);
    overflow: auto;
}

.about::-webkit-scrollbar {
    display: none;
}

.about {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.about::selection {
    background-color: var(--perm-light);
    color: var(--perm-dark);
}

.about-title {
    margin-top: 50px;
    grid-area: t;
    line-height: 0rem;
}

.avatar {
    border-radius: 0.5rem;
}

#error {
    padding-top: 15px;
}

#reset {
    width: calc(2rem + 90rem);
    margin: auto;
    grid-gap: 1rem;
    color: var(--dark);
    padding-bottom: 5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

@media only screen and (max-width: 1500px) {
    #reset {
        width: calc(1rem + 60rem);
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 1000px) {
    #reset {
        width: 100vw;
        /* position: absolute; */
        display: flex;
        flex-wrap: nowrap;
        overflow-y: scroll;
        grid-gap: 1rem;
    }

    #reset::-webkit-scrollbar {
        display: none;
    }

    #reset {
        scrollbar-width: none;
    }
}

#reset a {
    color: var(--accent);
}

.page {
    background-color: var(--card-background);
    width: 30rem;
    flex: 0 0 auto;
    overflow-y: scroll;
    border-radius: 1rem;
    position: relative;
    transition-duration: var(--transition-duration);
}

.page::-webkit-scrollbar {
    display: none;
}

.page {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.body {
    padding: 1rem;
    padding-bottom: 0;
}

.big {
    font-size: 25px;
}

#icon {
    background-color: var(--dark);
    mask: url(/assets/anilist.svg) no-repeat 0px 5rem;
    mask-size: contain;
    height: 5rem;
    width: 5rem;
    margin: auto;
    padding-top: 5rem;
    padding-bottom: 2rem;
}

#header {
    text-align: center;
    margin: auto;
    color: var(--dark)
}

#header p {
    line-height: 0px;
}

.container {
    min-height: calc(100vh - 5rem);
}

#footer {
    height: 5rem;
    margin: auto;
    width: 20rem;
    text-align: center;
    color: var(--dark);
}

.about-links {
    cursor: pointer;
    user-select: none;
}

#about-links {
    width: 100vw;
    height: 100vh;
    left: 0px;
    top: 0px;
    position: fixed;
    transition-duration: 0.1s;
    transition-property: opacity;
}

#about-links-background {
    width: 100%;
    height: 100%;
    background-color: var(--perm-dark);
    filter: brightness(0.5);
    opacity: 0.4;
    cursor: pointer;
}

#about-links-page {
    --width: 25rem;
    --height: 40rem;
    --menu-height-center: calc(100vh / 2 - var(--height) / 2 - 1rem);
    background-color: var(--perm-light);
    position: absolute;
    left: calc(100vw / 2 - var(--width) / 2 - 1rem);
    width: var(--width);
    height: var(--height);
    border-radius: 1rem;
    padding: 1rem;

    top: calc(var(--menu-height-center) + 2rem);
    transition-duration: 0.2s;
    transition-property: top;
}

.x-button {
    position: absolute;
    right: 1rem;
    top: 1rem;
    background-color: white;
    mask: url(/assets/x.svg) no-repeat;
    mask-size: contain;
    height: 1.5rem;
    width: 1.5rem;
    cursor: pointer;
}

#errors {
    position: absolute;
    width: 20rem;
    padding: 1rem;
    right: 0;
    z-index: 1;
    user-select: none;
}

.error {
    background-color: var(--dark);
    color: var(--light);
    padding: 1rem;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
    overflow-wrap: break-word;
    cursor: pointer;
    transition-duration: 0.5s;
}

#mugi {
    position: fixed;
    right: -10rem;
    bottom: -5rem;
}

#theme-switcher {
    background-color: var(--dark);
    border-radius: 10rem;
    width: 3rem;
    height: 3rem;
    float: right;
    margin-top: 1rem;
    cursor: pointer;
}

#theme-icon {
    background-color: var(--card-background);
    width: 3rem;
    height: 3rem;
    scale: 0.7;
    transition-duration: 0.5s;
    transition-property: background-color;
}

#theme-icon[theme="dark"] {
    mask: url('/assets/moon-filled.svg') no-repeat center;
}

#theme-icon[theme="light"] {
    mask: url('/assets/sun-filled.svg') no-repeat center;
}