#header {
    padding-top: 15rem;
}

.back {
    padding-bottom: 50px;
    text-align: left;
    max-width: 564px;
    width: 80vw;
    margin: auto;
    color: var(--accent);
    cursor: pointer;
    user-select: none;
}

.back a {
    text-decoration: none;
}

.back a:hover {
    text-decoration: underline;
}

#chart {
    width: 70rem;
    margin: 3rem auto;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(5, 1fr);
}

@media only screen and (max-width: 1200px) {
    #chart {
        width: 55rem;
        grid-template-columns: repeat(4, 1fr);
    }
}
@media only screen and (max-width: 1000px) {
    #chart {
        width: 40rem;
        grid-template-columns: repeat(3, 1fr);
    }
}
@media only screen and (max-width: 800px) {
    #chart {
        width: 25rem;
        grid-template-columns: repeat(2, 1fr);
    }
}

.chart-square {
    background-color: var(--dark);
    background-color: white;
    height: 20rem;
    background-position: center;
    background-size: cover;
    border-radius: 0.3rem;
    position: relative;
    color: #efefef;
}

.gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #151515, transparent, transparent);
    border-radius: 0.3rem;
}

.title {
    position: absolute;
    width: calc(100% - 2rem);
    /* https://stackoverflow.com/a/41137262 */
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    bottom: 1.2rem;
    left: 1rem;
}

.sub {
    position: absolute;
    line-height: 0;
    bottom: 0.5rem;
    left: 1rem;
    width: calc(100% - 2rem);
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 0.8rem;
}

#loading {
    text-align: center;
    padding-top: 3rem;
}